.main h1 {
  color: #d83333;
}
.main h2 {
  color: #d83333;
}
.main button {
  background-color: #d83333;
  border: #d83333;
  padding: 5px;
  color: white;
  border-radius: 10px;
}

.main button:hover {
  background-color: #8eb687;
}
.secret {
  font-weight: 700;
  font-size: 3.5rem;
  border: 1px solid #d83333;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
}
.insidediv {
  display: none;
}
